<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/home.css'%}">
    
    <title>Apna-News</title>
</head>
<div>

    <div class="container">
        <h1>NEWS NATION</h1>
        <h4>Daily News of India From Top News Webistes</h4>
    
    <div class="box">
        <a href='/bbc'><li>BBC NEWS</li></a>
        <a href='/TOI'><li>TIMES OF INDIA</li></a>
        <a href='/india'><li>INDIA NEWS</li></a>
        
    </div>
</div>
<footer>
    <p>Author:Abhishek Chavan<br>
    <a href="https://www.linkedin.com/in/abhishek-chavan-3a1524202/">abhichavan7m@gmail.com</a></p>
  </footer>
  
    
    
</body>
</html>